---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@use "variables";
@use "themes";
@use "layout";
@use "base";
@use "distill";

@import url('tailwind.css');

// Dimensions
$max-content-width: {{ site.max_width }};
